@font-face {
  font-family: 'manrope-regular', sans-serif;
  src: local('Manrope'),
  url('../fonts/Manrope-Regular.ttf') format('trueType');
}

@font-face {
  font-family: 'manrope-bold', sans-serif;
  src: local('Manrope'),
  url('../fonts/Manrope-Bold.ttf') format('trueType');
}

@font-face {
  font-family: 'manrope-medium', sans-serif;
  src: local('Manrope'),
  url('../fonts/Manrope-Medium.ttf') format('trueType');
}