@import "fonts";

// шрифты
$main: 400 18px/25.2px manrope-regular, sans-serif;
$headerTitleModal: 700 24px/33.6px manrope-regular, sans-serif;
$subtitleList: 700 18px/25.2px manrope-bold, sans-serif;
$button: 500 18px/25px manrope-medium, sans-serif;
$price: 700 32px/45px manrope-bold, sans-serif;
$secondary: 400 16px/22px manrope-regular, sans-serif;
$quantity: 400 18px/25px manrope-medium, sans-serif;

// Цвета
$orangeColor: #DE341D;
$backgroundItemColor: #F6F7F8;
$lineDecorationColor: #E6E6E6;
$lightgrayColor: #787878;
$black: #020A0A;

// Радиусы
$buttonRadius: 100px;
$listRadius: 5px;
$imageRadius: 25px;
$modalRadius: 25px;









